.SeparatingLine{
    border: 2px solid black;
    margin: 0% 5%;
    padding: 0%;
}

.TextInputDiv{
    display: flex;
    margin: 4%;
    
}

.setLabels{
  margin: 0px 20px
}

.TextInput{
    height: 25px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    background-color: antiquewhite;
    margin: auto 0 auto auto;
    width: 85%;
}